@{
    ViewData["Title"] = "Home";
}
@model List<VideoIndexer.ViewModel.HomeInformationViewModel>

<div class="row">
    <div class="col-md-12">
        <h2>Examples</h2>
        <div class="row ">
            @foreach (var item in @Model)
            {
                <div class="col-md-4" style="text-align: center;">
                    <a 
                        target="_blank"
                        href="@Url.Action("Video", "Home", new { id = @item.Name })">
                        <img 
                            src="@item.Image" 
                            title="@item.Name" 
                            alt="@item.Name" />
                    </a>
                </div>
            }
        </div>
    </div>
</div>
